.message {
    padding: 10px;
    margin: 10px;
    width: fit-content !important;
    max-width: 45%;
    /* display: flex; */
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard{
    background-color: #0b81ff !important;
}

.message__guestcard{
    background-color: #e9e9eb !important;
}

.messageLength {
    word-break: break-word;
    text-align: initial;
}


/* 
word-break: break-word;
text-align: initial; */